<header class="bar bar-nav">
	<button class="btn pull-right" {{action 'getAllReports' true}}>
		<i class="fa fa-refresh"></i>
	</button>
	<h1 class="nav-title" id="logo"><img src="images/logo.png" alt="">All</h1>
</header>
<div class="content">
	<div class="wrapper"> 
		<ul class="feed">
			{{#each}}
			<li>
				{{partial 'partials/report-single'}}
			</li>
			{{else}}
				{{partial 'loading'}}
			{{/each}}

		</ul>
		<div class="padding text-center pagger">
		{{#if model}}
			{{#if loadMoreLoading}}
				{{partial 'loading'}}
			{{else}}
				{{#if noMorePosts}}
					<small class="text-muted">
						No more reports.
					</small>
				{{else}}
					<button class="btn btn-block" {{action 'loadMore'}}>Load More</button>
				{{/if}}
			
			{{/if}}
		{{/if}}
		</div>
	</div>
</div>