<header class="bar bar-nav">
	<h1 class="nav-title" id="logo"><img src="images/logo.png" alt="">Report</h1>
</header>
<div class="content single-report">
	<div class="wrapper">
	{{#if isLoading}}
		{{partial 'loading'}}
		{{else}}
		<div class="padding addr-wrap">
			<i class="fa fa-map-marker"></i> 
			<address>{{address}}</address>
			<hr/>
			<div class="posted-by text-center">
				Reported By: 
				<span class="name">{{author.name}}</span> 
			</div>
		</div>
		<ul class="feed">
			<li>
				<div class="upload-info clearfix">
					<div class="uploader text-center">
						Reported <b>{{fromnow-date date}}</b>
						{{#if isOwner}}
							<button {{action 'deleteReport'}} class="btn pull-right btn-delete"><i class="fa fa-trash"></i></button>
						{{/if}}
					</div>
				</div>
				<div class="media">
					{{#link-to 'report' this}}<img {{bind-attr src=image}} alt="">{{/link-to}}
				</div>
				<div class="meta clearfix">
					<div class="location pull-left">
						{{#if description}}
						<span class="description"><i class="fa fa-comment-o"></i> {{description}}</span>
						{{/if}}
					</div>
					{{#if isOwner}}
						<button {{action 'takePhoto'}} class="btn btn-block"><i class="fa fa-camera"></i> Present Condition</button>
					{{/if}}
					<div class="share">
						{{sny-sharing big=true report_id=id report_image=image report_description=description}}
					</div>
				</div>
					
				
			</li>

		</ul>
		{{/if}}
	</div>
</div>